.root {
    display: flex;
}

.title {
    font-weight: 600;
}

.avatar {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    display: block;
}

.socials {
    display: flex;
    gap: 10px;
    &_item {
        width: 35px;
        height: 35px;
        list-style: none;
        transition: opacity .3s;
        &:hover {
            opacity: .7;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}