.banner {
    max-height: 200px;
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 20px;
}

.info {
    margin-bottom: 20px;
}

.posts {
    margin-bottom: 20px;
}